<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel ="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a35a82ecf1.js" crossorigin="anonymous"></script>
    <title>Crea tu cuenta de Mercado Liebre</title>
</head>

<body>
    <header>
        <div class ="para-laptop">
            <div class="top-header">
                <a href="/"><img src="images/logo-mercado-liebre.svg" class="logo"></a>
                <form class="form" action="#" method="GET">
                    <input class="input" placeholder="Buscar productos, marcas y más" />
                    <button class="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        
            <h3 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</h3>
        </div>
    <br>
        <nav class="listas">
            <ul class="header-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
    <br>
            <ul class="header-right">
                <li><a href="/register">Crea tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>

    <main class="main__register">
        <h2>Registro</h2>
        <section class="main__container__form ">
            <form action="/" method="get" class="register">

                <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido">

                <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuari@:">

                <input type="email" id="email" name="email" placeholder="E-mail">

                <h6>Fecha de nacimiento</h6>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" placeholder="mm/dd/yy">

                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio">

                <h6>Perfil de usuario</h6>
                <div class="radiobuttons">
                    <input type="radio" id="comprar" name="perfil-usuario" value="comprar">
                    <label for="comprar">Comprador</label>

                    <input type="radio" id="vender" name="perfil-usuario" value="vender">
                    <label for="vender">Vendedor</label>

                    <h6>Intereses</h6>
                    <div class="intereses">
    
                        <div class="categoria">
                            <input type="checkbox" id="electro" name="categorias" value="Electro">
                            <label for="electro">Electro</label>
                        </div>
                        <div class="categoria"><input type="checkbox" id="moda" name="categorias" value="Moda">
                            <label for="moda">Moda</label>
                        </div>
                        <div class="categoria"><input type="checkbox" id="hogar" name="categorias" value="Hogar">
                            <label for="hogar">Hogar</label>
                        </div>
                        <div class="categoria"><input type="checkbox" id="jugueteria" name="categorias" value="Juguetería">
                            <label for="jugueteria">Juguetería</label>
                        </div>
                        <div class="categoria"><input type="checkbox" id="vida-sana" name="categorias" value="Vida sana">
                            <label for="vida-sana">Vida sana</label>
                        </div>
                    </div>

                    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">
                
                    <input type="password" id="confirmar-contrasena" name="confirmar-contrasena"
                    placeholder="Confirmar contraseña">
                    
                    <h6>Foto de usuario:</h6>
                    <input type="file" id="foto" name="foto" hidden>
                    <!-- <input type="file" id="file-input" hidden> -->
                    <label for="foto" class="form__file__input btn__form">Elige un archivo...</label>
    
                    <input type="submit" value="Enviar" class="btn__form">
                    <input type="reset" value="Borrar" class="btn__form">
                </div>
            </form>
        </section>
    </main>
</body>